<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset= "UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Front Page</title>
    <link rel="stylesheet" href="/static/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Pacifico&family=Neonderthaw&family=Dancing+Script:wght@400..700&display=swap"/>
</head>
<body>
    <h1>AskDokter.ai</h1>
    <h2>One stop solution for all your health queries</h2>
    <h2 id="tag">Facts ~ Reasoning ~ Clarity</h2>
    <div class="tiles">
    <a href="/mythbuster" class="card" title="A Health myth buster debugging your health myth" style="background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)">Myth Buster</a>
    <a href="/symptom" class="card" title="Check your symptoms and suggestions on what to do" style="background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)">Symptom Checker</a>
    <a href= "/mentalhealth" class="card" title="Chat with a Mental Health Assitant" style="background-image:linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);">Mental Health Wellness</a>
</div>
</body>
</html>



         
         